<h1>영화 감상평</h1>
<p>감상평을 써보자.</p>
<form action="/home/create" method="post">
  제목: <input type="text" name="title"><br>
  내용: <input type="text" name="content"><br>
  <input type="submit" value="저장">
</form>